<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><Company>Microsoft</Company><Pages>9</Pages><Words>1681</Words><Characters>3765</Characters><Lines>25</Lines><Paragraphs>7</Paragraphs><TotalTime>8</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>4251</CharactersWithSpaces><Application>WPS Office_12.1.0.25860_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>